<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Motus needs your location to help you find nearby auto repair shops and gas stations when adding service records and fuel logs.</string>
</dict>
</plist>
